@page
@model AplicadorQuestoesArcoIrisV2.Pages.Questoes.ListarQuestoesModel
@{
    ViewData["Title"] = "Listar Questões";
}

<h2>Listar Questões</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Texto da Pergunta</th>
            <th>Resposta Correta</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pergunta in Model.Questoes)
        {
            <tr>
                <td>@pergunta.Id</td>
                <td>@pergunta.Texto</td>
                <td>@pergunta.TextoRespostaCorreta</td>
                <td>
                    <form>
                        <input type="hidden" name="id" value="@pergunta.Id" />
                        <button type="submit" class="btn btn-primary" formaction="Questoes/Editar">Editar</button>
                    </form>

                    <form method="post" asp-page-handler="ExcluirQuestao">
                        <input type="hidden" name="perguntaId" value="@pergunta.Id" />
                        <button type="submit" class="btn btn-danger" formaction="/Questoes/ListarQuestoes?handler=ExcluirQuestao">Excluir</button>
                    </form>


                </td>
            </tr>
        }
    </tbody>
</table>
